:root {
    --color-fg: #f5f5f5;
    --color-bg: #1a1a1a;
    --color-accent: #ff6f61;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--color-bg);
    color: var(--color-fg);
    line-height: 3.5ch
}

main,
header,
footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 8px 16px;
}


h1,
h2,
h3,
h4,
p,
a {
    margin-bottom: min(1lh, 18px);
}


a,
a:visited {
    color: var(--color-accent);
}

img {
    max-width: 100%;
    max-height: 100dvh;
}

article.session {
    margin-bottom: 32px;

    .title {
        margin-bottom: 0;
    }
}