@import "./globals.css";

.home-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  height: 100%;
  overflow: auto;

  @media (width <=1024px) {
    grid-template-columns: 1fr;
  }
}

#games-list {
  list-style: none;
  li {
    margin-bottom: 8px;
  }
}
